.gameLayout {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
}

.card {
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px;
    height: 70px;
    width: 70px;
}

.card.flipped {
    background-color: white;
}

.card.noValue {
    background-color: black;
}